@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';

$body-bg: $black;
$input-color: $light;
$input-focus-color: $light;
$input-placeholder-color: $secondary;